.hero{
    height: calc(100vh - 4rem);
    background-size: cover;
    background-position: center;
    background-image: url('../imagenes/conquer.jpg');
    display: flex;
    justify-content: center;
    padding: 2rem;
    align-items: center;
    margin-top: 4rem;
}

.hero__content {
    display: flex;
    flex-direction: row-reverse;
    font-family: 'ABeeZee', sans-serif;
    color: hsl(223, 64%, 96%);
    background: linear-gradient(rgba(5, 7, 12, 0.25),rgba(5, 7, 12, 0.23));
    border-radius: 2rem;
    padding: 1rem;
}

.hero__content___img {
    max-width: 10rem;
}
.hero__content___img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero__content___content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__content___content p {
    max-width: 35rem;
}

.hero__content___content h1 {
    font-size: 3rem;
    align-self: flex-start;
    letter-spacing: 0.2rem;
}

@media screen and (max-width:725px) {
    .hero__content___img  {
        display: none;
    }
}