.productos {
    margin-top: 2rem;
    font-family: 'ABeeZee', sans-serif;
}

.productos__class {
    background-color: var(--Very-vark-blue);
    color: var(--White);
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.7rem;
}

.productos__productos {
    max-width: 100vw;
    padding: 1rem;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.productos__productos-producto {
    width: 10rem;
    height: 14rem;
    background-color: var(--Lightgrayish-blue);
    padding: 0.5rem;
    display: flex;
    border-radius: 1rem;
    justify-content: space-around;
    flex-direction: column;
}

.productos__productos--producto--img {
    width: 6.2rem;
    height: 7rem;
    align-self: center;
}

.productos__productos--producto__producto {
    font-size: 1.2rem;
    color: var(--Darkgrayishblue);
}

.productos__productos--producto__price {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}

.productos__productos--producto__price div > span {
    font-weight: bold;
    color: var(--Darkgrayishblue);
}

.productos__productos--producto__price > span {
   color: var( --Grayishblue);
}


.productos__productos-producto__add {
    width: 100%;
    font-size: 0.8rem;
    padding: 0.4rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    border-color: var(--Darkgrayishblue);
    color: var(--Darkgrayishblue);
    background-color: var(--Lightgrayish-blue);
}

.productos__productos-producto__add:hover {
    background-color: var(--Very-vark-blue);
    border-color: var(--Very-vark-blue);
    color: var(--Lightgrayish-blue);
    transition: all 150ms ease;
}
.productos__productos--producto--img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card-info-product {
    width: 100%;
    height: 4.5rem;
    padding: .5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-info-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    flex-grow: 1;
    padding: 0rem 0.7rem 0rem 0.7rem;
}
.card-info-conten--price{
    display: flex;
    justify-content: space-between;
}
.card-info-img {
    width: 3.5rem;
    height: 3.5rem;
}

.card-info-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
}
.card-info-content > span {
    color: var(--Darkgrayishblue);
    font-weight: bolder;
}
.card-info-content div {
    display: flex;
}
.card-info-content div div span {
    color: var(--Darkgrayishblue);
    font-weight: bold;
} 
.card-info-content div > span {
    color: var( --Grayishblue);
}


.card-info-product div:nth-child(3) {
    font-size: 2rem;
    color: var( --Grayishblue);
    cursor: pointer;
}
.card-info div:nth-child(3):hover {
    color: var(--Darkgrayishblue);
}

.checkcart {
    width: 14rem;
    margin: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    background-color: var(--Darkgrayishblue);
    border: solid 2px transparent;
    color: var(--Lightgrayish-blue);
}

.checkcart:hover {
    color: var(--Darkgrayishblue);
    border: solid 2px  var(--Darkgrayishblue);
    background-color: var(--Lightgrayish-blue);
}